body {
	display: flex;
	min-width: 940px;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, rgba(34,47,122,0.67) 12%,rgba(34,47,122,1) 21%,rgba(34,47,122,1) 50%,rgba(34,47,122,1) 79%,rgba(34,47,122,0.67) 88%);
}

html, body {
	height: 100%;
}

#start-screen, #level1, #game-over, #you-win, #instructions {
	background-image: url('https://puu.sh/CuegE/23beb1e1e8.png');
	background-position: center;
	background-size: cover;
	height: 765px;
	width: 900px;
	text-align: center;
	margin: auto;
}

h1, #credit, #instructions-text {
	color: white;
	text-align: center;
}

h1 {
	padding: 150px 0 0 0;
	font-family: 'Coiny', cursive;
	font-size: 90px;
	text-shadow: black 5px 10px 15px;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: navy;
}

#instructions-div {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	margin: 40px 0;
}

#instructions-text, #credit {
	margin: 30px 0;
	font-family: 'Caveat Brush', cursive;
	font-size: 40px;
	text-shadow: black 0px 0px 5px;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

#scoreboard {
	display: flex;
	background-color: navy;
	height: 50px;
	text-align: center;
	border-top: 15px solid navy;
	justify-content: space-between;
	color: white;
	max-width: 900px;
}

.start, .play-again, #end-button, #pause-button, #lives-text, #level-text {
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	border: 1px solid navy;
	border-radius: 20px;
	padding: 5px;
}

.start, .play-again {
	font-size: 30px;
}

.start {
	margin: 30px 0;
}

#pause-button, #lives-text, #level-text, #end-button {
	font-size: 15px;
	margin: auto 10px;
	width: 20%;
}

#lives-text, #level-text {
	margin: auto 100px;
	font-size: 30px;
}